<% include partials/header.ejs %>
<% include partials/nav.ejs %>
  <h1>Contact Us</h1>
  <p>You contacted <%= data.who %> in the <%= data.dept %> department.</p>
  <p>We will contact you at <%= data.email %></p>
<% include partials/footer.ejs %>