<% include partials/header.ejs %>
<% include partials/nav.ejs %>
  <h1>Welcome to the Most Awesome Website on the Net</h1>
  <p>You will find a better website elsewhere.</p>
<% include partials/footer.ejs %>