<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo App</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <script src="/assets/todo-list.js"></script>
</head>
<body>
  <h1>My Todo List</h1>
  <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="Add new item" required autofocus>
      <button type="submit">Add Item</button>
    </form>
    <ul>
      <% todos.forEach((todo) => { %>
        <li data-id="<%= todo._id %>"><%= todo.item %></li>
      <% }); %>
    </ul>
  </div>
</body>
</html>