body {
  background: skyblue;
  color: #fff;
  font-family: sans-serif;
  padding: 2rem;
}
h1, h2 {
  font-size: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
}
ul {
  padding: 0;
}

label {
  display:block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}